<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Grooveshark
  body
    h2 Grooveshark app
    ol
      li
        a(href='/users') All Users
        a(href='/lists') All Lists
    block content

    script(src="https://unpkg.com/axios/dist/axios.min.js")
